@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .Matrix{
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1)
  }
}

@layer components{
  .flex-center {
      @apply flex items-center justify-center 
  }
  .flex-btw {
      @apply flex items-center justify-between 
  }
}

.primary-overlay::after {
  @apply block absolute top-0 left-0 right-0 bottom-0 w-full h-full;
  content: "";
  background-color: rgba(40, 67, 99, 0.301);
  z-index: 0;
}
